[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "*"
myqr = {editable = true, git = "https://github.com/Isvvc/qrcode.git"}

[dev-packages]

[requires]
python_version = "3.8"
